.home-container {
    padding: 24px 0px 24px 0px;
    text-align: center;
}
.bold-text {
    font-weight: 900;
    font-size: 30px;
    font-family: open sans, sans-serif;
    color: #0d71bb;
    padding-bottom: 10px;
}