.question-entry {
    border: solid #808080 1px;
    box-sizing: border-box;
    padding: 5px
}
.question-container {
    display:flex;
    flex-direction:row;
    padding: 24px 24px 24px 24px;
}
.questionList-container {
    margin-left: 20px;
    position: relative;
    float: right;
}
.question-item {
    max-width: 60%;
}